.header__btn {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-family: Inter;
  font-weight: 400;
  line-height: 22px;
  word-wrap: break-word;
}
@media screen and (max-width: 767px) {
  .header__btn {
    font-size: 14px;
  }
}